body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#colorpick table td,
#bluepick table td {
    border: 1px solid rgba(0, 0, 0, .25);
    width: 16px;
    height: 16px;
}

#colorpick table td:hover,
#bluepick table td:hover,
#bluepick table td.active {
    border: 1px solid  black;
    transition: border .25s ease-in-out;
}
