<%- include('../partials/header.ejs') %>

    <h1>Home</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi possimus pariatur error voluptatibus eum saepe, numquam et labore quae quam dolorum in mollitia commodi repellendus alias. Quod libero fugit consequatur?</h2>

<%- include('../partials/footer.ejs') %>
