<%- include('../partials/header.ejs') %>
    <h1>About</h1>
    <h2><%= author.firstname %> <%= author.lastname %></h2>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor minus consequuntur autem. Ipsum, neque magni dolore assumenda culpa nihil tempora deserunt suscipit quam aut, autem atque, praesentium a quis vitae!</h2>
<%- include('../partials/footer.ejs') %>