
<%- include('../../partials/_header.ejs') %>

<h1>Home - Intro à Templating ♥ !</h1>

<h2>Il est <%= today %></h2>

<img src="images/della_duck.webp" alt="Della duck" />

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptate
  animi voluptatum cupiditate, optio ab et culpa qui quam, beatae dicta ipsum
  temporibus velit officiis explicabo ullam suscipit. Eaque, assumenda.
</p>

<%- include('../../partials/_footer.ejs') %>
