<%- include('../partials/_header.ejs') %>

<h1>Page About</h1>

<!-- Ici prochainement l'image de Zaza -->
<p>Bonjour, je m'appel <%= firstname %> <%= lastname %> !</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam qui cumque fuga aut maxime. Voluptates
    obcaecati porro ipsa impedit ullam, quibusdam saepe, nisi tempore quod at ab deserunt qui! Voluptates.</p>

<%- include('../partials/_footer.ejs') %>