<%- include('./../partials/_header.ejs') %>

<h1>Page de contact</h1>
<p>Merci de nous avoir contacté, <%= email %>.</p>

<a href="/">Retour à la page d'accueil</a>

<%- include('./../partials/_footer.ejs') %>