<%- include('../partials/header.ejs') %>

    <h1>Contact</h1>
    <p>Dear <%= data.pseudo %>,</p>
    <p>Your message :</p>
    <p><%= data.message %></p>
    <p>has been sent.</p>

    <br>
    
    <a href="./">Return Home</a>

<%- include('../partials/footer.ejs') %>