<%- include('../partials/header.ejs') %>

    <h1>Product not found</h1>

    <p>Product <%= productId %> does not exist !</p>

    <a href="./">Return products list</a>

<%- include('../partials/footer.ejs') %>