<%- include('../partials/header.ejs') %>

    <h1>Upload an image</h1>

    <form method="post">
        <div>
            <label for="lastname">File</label>
            <input type="file" name="file" id="file">
        </div>
        <button type="submit">Envoyer</button>
    </form>

<%- include('../partials/footer.ejs') %>